@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Noto+Sans+TC:wght@300;400;700&family=Playfair+Display:wght@700&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
img{
    display: block;
    width: 100%;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background-color: rgb(244, 249, 249);
    font-family: 'Noto Sans TC', sans-serif;
    letter-spacing: 1px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
main{
    overflow: hidden;
}
/* 顏色區 */
.lightgrey{
    background-color: rgb(244, 249, 249);
}
.whiteblue{
    background-color: rgb(204, 242, 244);
}
.coldwinter{
    background-color: rgb(164, 235, 243);
}
.vintage{
    background-color: rgb(170, 170, 170);
}
.gray{
    background-color:gray;
}
.rgba{
    background-color:rgb(223, 239, 243);
}
.shironeri{
    background-color:#FCFAF2;
}
.lightseagreen{
    background-color: lightseagreen;
}

/* 共用區 */
section{
    display: flex;
}
.title {
    text-align: center;
    color: #444;
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 20px 20px 10px 20px;
    border-bottom: solid 2px #444;
    font-family: 'Noto Sans TC', sans-serif,'Playfair Display', serif;
    font-weight: 700;
}
/* RWD手機 */
@media (max-width:767px){
    .title{
        width: 150px;
        font-size: 1.5rem;
        margin-bottom: 30px;
        margin-top: 0px;
    }
}
/* RWD平板 */
@media (min-width:768px){
    .title{
        width: 150px;
        font-size: 2rem;
    }
}
/* RWD桌機 */
@media (min-width:992px){
    .title{
        width: 200px;
        font-size: 3.5rem;
    }
}
/* 擋頭 */
header{
    max-width: 100%;
    overflow: hidden;
}
.topbar{
    align-items: center;
    margin-top: 20px;
    z-index: 9999;
}
.nav_menu{
    margin-right:5%;
}
.menu{
    display: flex;
    text-align: center;
}
.menu li{
    display: inline-block;
    margin: 1rem;
    line-height: 1rem;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}
.menu a{
    font-size: 2.3rem;
    text-decoration: none;
    color: rgb(170, 170, 170);
}

.menu a:hover{
    color: rgb(24, 109, 121);
}
/* RWD手機 */
@media (max-width:767px){
    .topbar{
        display: flex;
        position: relative;
        justify-content: space-between;
    }
    .topbar .logo{
        width: 7rem;
        margin-left: 15%;
    }
    .menu{
        display: none;
    }
}
/* RWD平板 */
@media (min-width:768px){
    .topbar{
        display: flex;
        position: relative;
        justify-content: space-between;
    }
    .topbar .logo{
        width: 250px;
        margin-left: 20%;
    }
    .menu{
        display: none;
    }
}
/* RWD桌機 */
@media (min-width:992px){
    .topbar{
        display: flex;
        position: relative;
        justify-content: space-between;
    }
    .topbar .logo{
        width: 250px;
        margin-left: 40%;
    }
    .menu{
        display: flex;
        flex-direction: row;
        margin-top: 1.5rem;
    }
    .menu li{
        display: inline-block;
        margin: 1rem;
    }
}
/* 漢堡選單 */
.btn_menu{
    color: rgb(109, 109, 109);
    font-size: 64px;
}
.btn_close{
    color: rgb(109, 109, 109);
    font-size: 64px;
}
.btn_close:hover{
    color: white;
}
.menu_ham li{
    line-height: 6rem;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    padding-left: 20%;
}
.menu_ham li:hover{
    background-color: white;
    color: rgb(24, 109, 121);
}
.menu_ham li a {
    font-size: 2.5rem;
    text-decoration: none;
    color: rgb(170, 170, 170);
}
.menu_ham li a:hover{
    color: rgb(24, 109, 121);
}
/* RWD手機 */
@media (max-width:767px){
    .btn_menu{
        font-size: 32px;
    }
    .btn_close{
        font-size: 32px;
    }
    .btn_menu{
        display: inline-block;
        float: right;
        margin-right: 100%;
    }
    .btn_close{
        display: inline-block;
        position: absolute;
        top: 4%;
        right: 17%;
    }
    .menu_ham li a {
        font-size: 1.5rem;
    }
    .menu_ham li{
        line-height: 4rem;
    }
    .nav_ham{
        position: fixed;
        top: 0;
        right: -50%;
        width: 50%;
        height: 100%;
        background-color: rgb(183, 210, 231);
        padding-top: 20%;
        transition: all 1s;
    }
    .ham_open{
        display: block;
    }
    .ham_close{
        display: block;
    }
    .open{
        transform: translateX(-100%);
        transition: all 1s;
    }
 
}
/* RWD平板 */
@media (min-width:768px){
    .nav_ham{
        position: fixed;
        top: 0;
        right: -50%;
        width: 50%;
        height: 100%;
        background-color: rgb(183, 210, 231);
        padding-top: 20%;
        transition: all 1s;
    }
    .btn_menu{
        display: inline-block;
        float: right;
        margin-right: 50px;
    }
    .btn_close{
        display: inline-block;
        position: absolute;
        top: 3%;
        right: 11%;
    }
    .ham_open{
        display: block;
    }
    .ham_close{
        display: block;
    }
    .open{
        transform: translateX(-100%);
        transition: all 1s;
    }
}
/* RWD桌機 */
@media (min-width:992px){
    .nav_ham{
        display: none;
        transform: translateX(100%);
    }
    .ham_open{
        display: none;
    }
    .ham_close{
        display: none;
    }
}
/* BANNER */
#banner{
    height: 100%;
}
.banner{
    height: 90vh;
    overflow: hidden;
}
.banner h2{
    position: absolute;
    right:10%;
    top:33%;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    color:rgb(82, 77, 69);
    z-index: 999;
}
.banner h3{
    position: absolute;
    right:11%;
    top:40%;
    font-weight: 400;
    font-family: 'Playfair Display', serif;
    color:rgb(82, 77, 69);
    z-index: 999;
}
.banner figure{
    position: absolute;
    height: 48vh;
    opacity: 50%;
    z-index: -999;
}
.moveup{
    animation: moveup 1.2s ease-in-out both;
}
@keyframes moveup{
    0%{
        transform: translateY(30px);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    75%{
        transform: translateY(-4px);
    }
    100%{
        transform: translateY(0);
    }
}
/* RWD手機 */
@media (max-width:767px){
    .banner{
        height: 35vh;
    }
    .banner h2{
        right: 5%;
        top: 17%;
        font-size: 1.2rem;
        letter-spacing: 2px;
    }
    .banner h3{
        right: 5%;
        top: 20.5%;
        font-size: 1rem;
    }
}
/* RWD平板 */
@media (min-width:768px){
    .banner{
        height: 45vh;
    }
    .banner h2{
        right: 7%;
        top: 19%;
        font-size: 2.5rem;
        letter-spacing: 3px;
    }
    .banner h3{
        right: 8%;
        top: 24%;
        font-size: 2rem;
    }
}
/* RWD桌機 */
@media (min-width:992px){
    .banner{
        height: 100vh;
    }
    .banner h2{
        right: 8%;
        top: 36%;
        font-size: 3.5rem;
        letter-spacing: 3px;
    }
    .banner h3{
        right: 8%;
        top:45%;
        font-size: 2.5rem;
    }
}
/* personal */
#personal{
    height: 70vh;
    padding-top: 5vh;
    background-color: rgb(244, 249, 249);
}
#personal figure{
    display: flex;
    overflow: hidden;
}
#personal figure img{
    width: 500px;
  
}
.contain{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.contain h2{
    border-bottom: solid 0.5px rgba(128, 128, 128, 0.596);
    padding-bottom: 5px;
}
.contain h3{
    font-weight: 300;
}
.skill {
    display: flex;
    flex-direction: row;
}
/* RWD手機 */
@media (max-width:767px){
    #personal{
        height: 100%;
        flex-direction: column;
        justify-content: center;
         align-items:center;
    }
    #personal figure{
        height: fit-content;
        width: fit-content;
    }
    #personal figure img{
        width: 200px;
    }
    .contain{
        margin-top: 10px;
        margin-left: 0;
        width: 300px;
    }
    .contain h2{
        font-size: 1rem;
        border-bottom: none;
        padding-bottom: 5px;
    }
    .contain h3{
        line-height: 15px;
        font-size: 0.6rem;
        margin-top: 0px;
        width: 100%;
    }
    .border2{
        width: 300px;
        border-bottom: solid 1px rgba(128, 128, 128, 0.596);
        margin-bottom: 5px;
    }
    .smalltitle{
        font-size: 1rem;
    }
    .skill img{
        width: 45px;
    }
}
/* RWD平板 */
@media (min-width:768px){
    #personal{
        height: 50vh;
        flex-direction: row;
        justify-content: center;
         align-items: flex-start;
    }
    #personal figure{
        height: fit-content;
        width: 400px;
        margin-left: 4%;
    }
    #personal figure img{
        width: 100%;
    }
    .contain{
        margin-left: 2vh;
        width: 600px;
    }
    .contain h2{
        font-size: 1.8rem;
        border-bottom: none;
    }
    .contain h3{
        width: 380px;
        font-size: 1rem;
        margin-top:8px;
        line-height:20px;
    }
    .border2{
        width: 300px;
        border-bottom: solid 1px rgba(128, 128, 128, 0.596);
    }
    .smalltitle{
        font-size: 1.5rem;
    }
    .skill img{
        width: 80px;
    }
}
/* RWD桌機 */
@media (min-width:992px){
    #personal{
        height: 70vh;
        flex-direction: row;
        justify-content: center;
         align-items: flex-start;
    }
    #personal figure{
        height: fit-content;
        height: 500px;
        width: 500px;
    }
    #personal figure img{
        width: 500px;
    }
    .contain{
        margin-left: 50px;
        width: 600px;
    }
    .contain h2{
        font-size: 2.2rem;
        border-bottom: solid 0.5px rgba(128, 128, 128, 0.596);
        padding-bottom: 5px;
    }
    .contain h3{
        line-height: 30px;
        font-size: 1.5rem;
        margin-top: 10px;
        width: 100%;
    }
    .border2{
        display: none;
    }
    .smalltitle{
        font-size: 1.5rem;
    }
    .skill img{
        width: 80px;
    }
}
/* experience */
#experience div{
    margin-top: 90px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
.experience-card{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(222, 235, 240);
    padding:10px 10px;
}
.experience-card h2{
    text-align: center;
    margin-top: 10px;
    font-weight: 700;
}
.experience-card h3{
    margin-top: 20px;
    font-size: 1.3rem;
}
.experience-card ol{
    width: 100%;
    margin-top: 5px;
    list-style-type: decimal;
}
.experience-card ol li{
    margin-top: 10px;

}
/* RWD手機 */
@media (max-width:767px){
    #experience{
        height: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    #experience div{
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .experience-card{
        width: 70%;
        margin: 10px 0px;
        padding-bottom: 20px;
    }
    .experience-card h2{
        font-size: 1.1rem;
        margin-top: 5px;
    }
    .experience-card h3{
        font-size: 0.7rem;
        margin-top: 10px;
    }
    .experience-card ol{
        font-size: 0.8rem;
        padding-left: 20%;
        padding-right: 10%;
    }
    .experience-card ol li{
        margin-top: 5px;
    
    }
}
/* RWD平板 */
@media (min-width:768px){
    #experience{
        height: 50vh;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .experience-card{
        width: 28%;
        margin: 0px 10px;
        padding-bottom: 20px;
    }
    .experience-card h2{
        font-size: 1.5rem;
    }
    .experience-card h3{
        font-size: 1rem;
    }
    .experience-card ol{
        font-size: 1rem;
        padding-left: 20%;
        padding-right: 10%;
    }
}
/* RWD桌機 */
@media (min-width:992px){
    #experience{
        height: 70vh;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .experience-card{
        width: 30%;
        margin:0px 20px;
    }
    .experience-card h2{
        font-size: 2rem;
    }
    .experience-card h3{
        font-size: 1.3rem;
    }
    .experience-card ol{
        margin-top: 5px;
        padding-left:40px;
        font-size: 1.5rem;
    }
}
/*  */
#portfolio{
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    margin-bottom: 0px;
}
.portfolio{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.portfolio li{
    margin-left: 25px;
    margin-right: 25px;
}
.portfolio li img{
    margin: 0 auto;
}
.portfolio li a{
    text-decoration: none;
    color: rgb(99, 99, 99);
}
.portfolio li figure{
    width: 350x;
}
.portfolio figure figcaption{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    font-size: 25px;
}
.slick-dots{
bottom: -50px;
}
/* RWD手機 */
@media (max-width:767px){
    #portfolio{
        margin-bottom: 20px;
        padding-top: 0px;
    }
}
/* RWD平板 */
@media (min-width:768px){
    #portfolio{
        padding-top: 0px;
        margin-bottom: 30px;
    }
}
/* RWD桌機 */
@media (min-width:992px){
    #portfolio{
        height: 100%;
        padding-top: 50px;
        margin-bottom: 80px;
    }
}
/* photowall */
#photowall{
    /* height: 50vh; */
    display: flex;
    justify-content: center;
    
}
.photowall{
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.photowall li{
    margin-left: 0px;
    margin-right: 0px;
}
.photowall li img{
    overflow: hidden;
}
.photowall li a{
    text-decoration: none;
    color: rgb(99, 99, 99);
}
/* RWD手機 */
@media (max-width:767px){
    .photowall li figure{
        width: 100%;
    }
    .photowall li img{
        width: 150px;
    }
}
/* RWD平板 */
@media (min-width:768px){
    .photowall li figure{
        width: 100%;
    }
    .photowall li img{
        width: 250px;
    }
}
/* RWD桌機 */
@media (min-width:992px){
    .photowall li figure{
        width: 300px;
    }
    .photowall li img{
        width: 300px;
    }
}
/* photowall02 */
#photowall02{
    /* height: 50vh; */
    display: flex;
    justify-content: center;
}
.photowall02{
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.photowall02 li{
    margin-left: 0px;
    margin-right: 0px;
}
.photowall02 li img{
    overflow: hidden;
}
.photowall02 li a{
    text-decoration: none;
    color: rgb(99, 99, 99);
}
/* RWD手機 */
@media (max-width:767px){
    .photowall02 li figure{
        width: 100%;
    }
    .photowall02 li img{
        width: 150px;
        overflow: hidden;
    }
}
/* RWD平板 */
@media (min-width:768px){
    .photowall02 li figure{
        width: 100%;
    }
    .photowall02 li img{
        width: 250px;
        overflow: hidden;
    }
}
/* RWD桌機 */
@media (min-width:992px){
    .photowall02 li figure{
        width: 300px;
    }
    .photowall02 li img{
        width: 300px;
        overflow: hidden;
    }
}
/* footer */
footer{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 100px 
}
.border{
    display: flex;
    margin-left: 130px;
    width: 85%;
    margin-top: 15px;
    margin-bottom: 15px;
    border-top: solid 0.5px rgba(190, 189, 189, 0.568);
}
footer small{
    margin-left: 95px;
    font-size: 1rem;
}
footer .logo{
    width: 250px;
}
footer nav{
    display: flex;
    flex-direction: column;
    margin-right: 150px;
    justify-content: center;
}
footer .menu{
    display: flex;
    text-align: center;
}
footer .menu li{
    display: inline-block;
}
footer .icon{
    display: flex;
    justify-content: end;
}
footer .icon img{
    width: 40px;
}
footer .icon li{
    margin:0  10px;
}
/* RWD手機 */
@media (max-width:767px){
    .border{
        margin-left: 10%;
        width: 80%;
        margin-bottom: 5px;
    }
    footer{
        height: 60px;
    }
    footer .logo{
        margin-left: 5%;
        width: 7rem;
        display: none;
    }
    footer nav{
        margin-right: 0px;
    }
    footer .menu{
        display: none;
    }
    footer .icon li{
        margin: 0px;
        margin-right: 5px;
    }
    footer small{
        margin-left: 20px;
        font-size: 0.6rem;
    }
    footer .icon{
        margin-right: 1rem;
    }
    footer .icon img{
        width: 35px;
    }
}
/* RWD平板 */
@media (min-width:768px){
    .border{
        margin-left: 12.5%;
        width: 75%;
    }
    footer{
        height: 70px;
    }
    footer .logo{
        margin-left: 5%;
        width: 250px;
    }
    footer nav{
        margin-right: 15px;
    }
    footer .menu{
        display: none;
    }
    footer small{
        margin-left: 0px;
    }
    footer .icon{
        margin-right: 0.5rem;
    }
    footer .icon img{
        width: 60px;
    }
}
/* RWD桌機 */
@media (min-width:992px){
    footer .icon{
        margin-right: 5rem;
    }
    footer .logo{
        margin-left: 7%;
        width: 250px;
    }
}
/* PRODUCT */
#product{
    display: flex;
     flex-direction: row;
    justify-content: center;
}
.product-link{
    text-decoration: none;
}
/* RWD手機 */
@media (max-width:767px){

}
/* RWD平板 */
@media (min-width:768px){
    .product-link{
        cursor:pointer;
        pointer-events: none;
    }
}
/* RWD桌機 */
@media (min-width:992px){
    .product-link{
        cursor:pointer;
        pointer-events: none;
    }
}
    .content{   
    width: 85%;
    padding-top: 15px;
    padding-right: 30px;
}
.productcard{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 15px;
    margin-left: 30px;
    padding:30px 15px 0px 20px ;
    box-shadow: 1px 1px 5px rgb(59, 59, 59);
    border-radius: 10px;
}
.productcard article{
    margin-left: 30px;
    padding-top: 15px;
    overflow: hidden;
    height: 180px;
    
}
.productcard article h1{
    font-size: 2rem;
    color: rgb(90, 75, 41);
    font-family: 'Noto Sans TC', sans-serif,'Playfair Display', serif;
    font-weight: 700;
}
.productcard article p{
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 1.3rem;
    font-family: 'Noto Sans TC', sans-serif,'Playfair Display', serif;
    line-height: 1.5rem;
    color:rgb(80, 80, 80) ;
}
.productcard figure{
    margin-top: 10px;
    width: 350px;
}
.productcard figure img{
    border-radius: 5px;
}
.productcard>div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
}
.btn-seemore{
    display: flex;
    justify-content: end;
    margin-right: 20px  ;
    margin-bottom: 20px;
}
.productcontent{
    margin-bottom: 20px;
}
.productcontent h1{
    color: rgb(90, 75, 41);
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 15px;
}
.productcontent h2{
    font-size: 28px;
    margin: 5px 0px;
    font-weight: 700;
    color: rgb(58, 57, 57);
}
.productcontent p{
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 30px;
    color: rgb(68, 67, 67)
}
.aside
{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 200px;
    height: 100%;
    margin-top: 2vh;
    margin-left: 10%;
    margin-right: 35px;
    
}
.aside ul
{
    width: 220px;
    height: 200px;
    list-style-type: disc;
}
.aside ul li{
    letter-spacing: 5px;
    font-family: 'Noto Sans TC', sans-serif,'Playfair Display', serif;
    font-weight: 700;
    line-height: 45px;
    font-size: 1.6rem;
    
}
.aside ul li a {
    text-decoration: none;
    color: rgb(82, 77, 69);
}
/* RWD手機 */
@media (max-width:767px){
    #product{
        margin-bottom: 5px;
    }
    .productcard{
        flex-direction: column;
        justify-content: center;
        align-items:flex-start;
        padding: 15px 15px 0px 15px;
    }
    .productcard figure{
        width: auto;
    }
    .productcard article h1{
        font-size: 1.5rem;
    }
    .productcard article p{
        font-size: 1rem;
        display: -webkit-box ;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        margin-top: 5px;
    }
    .productcard article{
        height: auto;
        padding-bottom: 15px;
    }
    .productcard>div{
        justify-content: center;
        align-items: center;
    }
    .btn-seemore{
        display: none;
    }
    .content{
        width: 95%;
        margin-bottom: 15px;
    }
    .aside{
        display: none;
    }
}
/* RWD平板 */
@media (min-width:768px){
    #product{
        margin-bottom: 15px;
    }
    .content{
        width: 95%;
    }
    .productcard{
        align-items: center;
        padding: 10px 15px 0px 20px;
    }
    .productcard figure{
       margin: auto 0px;
    }
    .productcard article h1{
        font-size: 1.5rem;
    }
    .productcard article p{
        font-size: 1rem;
        display: -webkit-box ;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5;
        overflow: hidden;
    }
    .aside{
        display: none;
    }
}
/* RWD桌機 */
@media (min-width:992px){
    .content{
        width: 85%;
    }
    #product{
        margin-bottom: 30px;
    }
    .productcard{
        align-items: center;
    }
    .productcard figure{
        margin: auto 0px;
    }
    .productcard article p{
        font-size: 1rem;
        display: -webkit-box ;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5;
        overflow: hidden;
    }
    .aside{
        display: flex;
        flex-direction: column;
    }
}
/* product 文章 */
#product-article{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}
.article-content{
    padding-top: 15px;
}
.article-text{
    margin-bottom: 20px;
}
.article-text h1{
    color: rgb(90, 75, 41);
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 15px;
}
.article-text h2{
    font-size: 28px;
    margin: 5px 0px;
    font-weight: 700;
    color: rgb(58, 57, 57);
}
.article-text p{
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 30px;
    color: rgb(68, 67, 67)
}
/* RWD手機 */
@media (max-width:767px){
    #product-article{
        margin-top: 10px;
    }
    .article-content{
        width: 80%;
        padding-right: 0px;
    }
    .article-text h1{
        font-size: 1.8rem;
    }
    .article-text h2{
        font-size: 1.3rem;
    }
    .article-text p{
        font-size: 1rem;
    }
}
/* RWD平板 */
@media (min-width:768px){

    #product-article{
        margin-top: 15px;
    }
    .article-content{
        width: 80%;
        padding-right: 0px;
    }
    .article-text h1{
        font-size: 2rem;
    }
    .article-text h2{
        font-size: 1.5rem;
    }
    .article-text p{
        font-size: 1.2rem;
    }
}
/* RWD桌機 */
@media (min-width:992px){
    #product-article{
        margin-top: 20px;
    }
    .article-content{
        width: 70%;
        padding-right: 30px;
    }
}
/* CASE */
#case{
    display: flex;
    flex-direction: row;
}
/* RWD手機 */
@media (max-width:767px){
    #case{
        margin-bottom: 5px;
    }
}
/* RWD平板 */
@media (min-width:768px){
    #case{
        margin-bottom: 15px;
    }
}
/* RWD桌機 */
@media (min-width:992px){
    #case{
        margin-bottom: 30px;
    }
}
/* 摺疊 */
.card{
    padding-top: 20px;
    border-radius: 15px;
}
.drawcontent{   
    display:flex;
    flex-flow: wrap;
}
.card-title{
    text-align: center;
}
/* RWD手機 */
@media (max-width:767px){
    .card{
        width: 30%;
        margin:5px 5px;
    }
    .drawcontent{
        justify-content: flex-start;
        width: 100%;
        padding-top: 10px;
        margin-left: 0;
        padding-left: 12px;
        padding-right: 5px;
    }
    .card-title{
        font-size: 0.5rem;
    }
    .card-body{
        padding: 0.5rem;
    }
}
/* RWD平板 */
@media (min-width:768px){
    .card{
        width: 30%;
        margin:5px 5px;
    }
    .drawcontent{
        justify-content: flex-start;
        width: 100%;
        padding-top: 15px;
        padding-right: 0;
        margin-left: 0;
        padding-left: 40px;
    }
    .card-title{
        font-size: 1rem;
    }
}
/* RWD桌機 */
@media (min-width:992px){
    .card{
        width:15rem;
        margin:5px 5px;
    }
    .drawcontent{
        width: 100%;
        margin: 0 auto;
    }
    .card-title{
        font-size: 1rem;
    }
}
/* page */
.pagination{
    display: flex;
    justify-content: center;
}
.page-link{
    color: black;
}

/* RWD手機 */
@media (max-width:767px){
 
}
/* RWD平板 */
@media (min-width:768px){
 
}
/* RWD桌機 */
@media (min-width:992px){
}